/*  Application Setup
    Dashboard.css
    Tuesday, 3 March, 2015
    Alexander Rhett Crammer  */

/* Content */
#usersImage
    {border: 1px solid #fff;
    position: absolute;
    top: 45px;
    left: 335px;
    width: 50px;}

.statusIcon
    {float: right;
    position: relative;
    top: -25px;
    right: 5px;
    width: 35px;}

/* Segmented View */
.segmentedControlView
    {cursor: pointer;
    margin-top: 50px;
    text-align: center;}

    /* Segmented View Tabs */
.segmentedControlTabs > p
    {background-color: rgba(235,235,235,0.75);
    color: rgb(75,75,75);
    display: inline;
    font-size: 1em;
    margin: auto 25px;
    padding: 15px 25px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; /* Prevent selection */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color 250ms;}

.segmentedControlTabs > p:hover
    {background-color: rgba(225,225,225,0.9);
    color: rgb(125,125,125);
    transition: background-color 75ms;}

.segmentedControlTabs > p:active
    {background-color: rgb(200,200,200);}

.selectedSegmentedControlTab
    {background-color: rgba(250,250,250,0.9) !important;}

    /* Segmented View List */
.segmentedControlList
    {background: -moz-linear-gradient(top,  rgba(250,250,250,0.9) 0%, rgba(250,250,250,0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,250,250,0.9)), color-stop(100%,rgba(250,250,250,0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(250,250,250,0.9) 0%,rgba(250,250,250,0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(250,250,250,0.9) 0%,rgba(250,250,250,0.8) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(250,250,250,0.9) 0%,rgba(250,250,250,0.8) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(250,250,250,0.9) 0%,rgba(250,250,250,0.8) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6fafafa', endColorstr='#ccfafafa',GradientType=0 ); /* IE6-9 */
    display: block;
    position: relative;
    top: 16px;
    left: 0;
    right: 0;
    bottom: 15px;
    margin: auto;
    overflow: scroll;
    height: 400px;
    width: 85%;}

.segmentedControlList li
    {padding: 15px 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; /* Prevent selection */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;}

.segmentedControlList li:hover
    {background-color: rgba(175,175,175,0.2) !important;} /* !important to prevent jQuery UI from breaking */

.segmentedControlList li:active
    {background-color: rgba(175,175,175,0.5) !important;} /* !important to prevent jQuery UI from breaking */

.segmentedControlList p
    {text-align: left;}

.segmentedControlList p:first-child
    {font-size: 1em;
    margin: 10px auto 0;
    width: 85%;}

.segmentedControlList p:not(:first-child)
    {font-size: 0.9em;
    margin: 15px auto 10px;
    width: 90%;}

#tasks, #users
    {display: none;}